stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

variables:  
  IMAGE_NAME: $CI_REGISTRY_IMAGE/lml-manual

build-job:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker info
  script:       
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:latest
